.benefits-section {
    padding: 8%;
  }
  
  .benefit {
    text-align: center;
    padding:2%;
    margin-top:4%
  }
  
  .percentage {
    /* font-size: 2.5rem; */
    font-weight: bold;
    color:#9E4CC1;
    margin-bottom: 10px;
  }
  
  .benefit h3 {
    text-align:center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
    font-weight:600;
  }
  
  .benefit p {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.6;
    text-align: justify;
  }
  