/* General Styles for Medical Section */
.medical-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
  background: linear-gradient(to right, #E6E6E6, #d4d3d3, #B6BCC8);
  border-radius: 10px;
  padding-left: 30px;
  margin-top: 3%;
}

.medical-content {
  max-width: 50%;
  margin-left: 20px;
}

.medical-content h1 {
  font-size: 2rem;
  color: #4b4b4b;
  margin-bottom: 20px;
  margin-left: 20px;
}

.medical-content p {
  width: 40vw;
  font-size: 1rem;
  color: #6b6b6b;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-left: 20px;
}

.cta-button {
  padding: 10px 20px;
  background-color: #6b2fac;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 20px;
}

cta-button:hover {
  background-color: #a466e6;
}

.medical-image img {
  width: 30rem;
  height: 20rem;
  border-radius: 15px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); */
  margin-right: 40px;
  margin-top: 10%;
}


@media (max-width: 768px) {
  .medical-section {
    flex-direction: column; 
    padding: 30px 15px; 
    text-wrap:wrap;
  }

  .medical-content {
    max-width: 70%; 
    margin-left: 0; 
    text-align: justify; 
  }

  .medical-content h1 {
    font-size: 1.6rem; 
    margin-left: 0; 
    text-align: center;
  }

  .medical-content p {
    font-size: 0.95rem; 
    margin-left: 0; 
  }

  .cta-button {
    margin-left: 100px; 
    width: 20%; 
    padding: 12px 50px; 
    margin-left: 40%;
    
  }

  .medical-image img {
    
    height: auto; 
    margin-right: 0; 
    max-width: 500px;
    margin-top:40px;
    border-top-right-radius: 0px;
  }
}


@media (max-width: 480px) {
  .medical-section {
    padding: 20px 10px; 
  }

  .medical-content h1 {
    font-size: 1.4rem; 
  }

  .medical-content p {
    font-size: 0.9rem; 
  }

  .cta-button {
    font-size: 0.9rem; 
    padding: 10px 20px;
  }

  .medical-image img {
    max-width: 90%; 
    height: auto; 
  }
}
